:root {
  --blue: rgba(0, 0, 255, 1);
  --red: rgba(255, 0, 0, 1);
  --light-blue: rgb(190, 218, 227);
  --black: #0a0a0a;
  --white: #fafafa;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--white);
  color: var(--black);
  font-size: 16px;
  font-family: system-ui;
}
li,
a:link,
a:visited {
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}
button {
  padding: 0.5rem 0.5rem;
}

svg,
img {
  display: block;
  max-width: 100%;
}
